# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/

# Large binaries / weights
*.pth
*.pt
*.onnx

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
